body {
    margin: 0 auto;
}
.header {
    background-image: url("../img/Background1.png");
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
    margin: 0 auto;
}
.header h2 {
    font-family: Montserrat, Arial, serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    padding-top: 530px;
    margin: 0 0 0 215px;
}
.header .subtitle {
    font-family: Lato, Arial, serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 30px 215px;
}
.header h1 {
    font-family: Montserrat, Arial, serif;
    color:  #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0 215px;
    padding: 47px 0 42px 32px;
    border: 2px solid #c3e3e4;
    background: rgba(0, 0, 0, 0.3);
    max-width: 800px;
    text-transform: uppercase;
}
.header h1 .yellow {
    color: #f1ad1d;
}
.block2 {
    width: 1578px;
    height: 873px;
    background-image: url("../img/Background2.png");
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
}
.block2 ul a {
    font-family: Lato, Arial, serif;
    color:  #3d3d3d;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 10px 30px;
    text-decoration: none;
}
.block2 ul a:hover {
    color:  #f1b128;
}
.block2 ul a:hover+ul {
    display:inline-block;
}
.block2 .menuHeader > ul > li:first-child > a {
    font-family: Montserrat, Arial, serif;
    font-weight: 700;
    color: #f1ad1d;
    font-size: 36px;
    margin: 0 80px 0 0;
    text-transform: uppercase;
}
.block2 ul li {
    display: inline-block;
    vertical-align: middle;
}
.second-level-menu
{
    text-align: left;
    position: absolute;
    list-style: none;
    padding: 0;
    display: none;
    margin-left: -30px;
}
.second-level-menu > li
{
    width: 200px;
    position: relative;
    background: whitesmoke;
}
.second-level-menu:hover {
    display: inline-block;
}
.block2 hr {
    height: 3px;
    background-color: #f1ad1d;
    border: none;
}
.acknowledgements hr {
    width: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.menuHeader hr {
    width: 66%;
}
.block2 .acknowledgements h2 {
    font-family: Montserrat, Arial, serif;
    color:  #333333;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 50px;
}
.block2 .acknowledgements h3 {
    font-family: Lato, Arial, serif;;
    color:  #4d4943;
    font-size: 14px;
    font-weight: 400;
}
.block2 .menuHeader {
    margin: 100px;
}
.employees {
    width: 100%;
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
}
.employee {
    position: relative;
    width: 193px;
    height: 178px;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
}
.name {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -80px;
    background-color: #33333390;
    width: 100%;
    height: 80px;
    transition: all 300ms;
}
.name-color {
    color: #f1ad1d;
}
.employee:hover .name {
    bottom: 0;
}